// Prism light
[class*='language-'] {
  color: inherit;
  background: $white-2;

  // Highlighted line
  .highlighted-line {
    background: rgba($black-1, .08);
  }

  // Purple
  &.language-php .token.operator,
  .token.atrule,
  .token.keyword {
    color: mix($blue-4, $violet-5);
  }

  // Blue
  &.language-markup .token.namespace,
  .token.attr-name,
  .token.selector,
  .token.tag,
  .token.tag *,
  .language-url,
  .token.function,
  .token.url,
  .token.title {
    color: $turquoise-5;
  }

  // Gray
  .token.comment,
  .token.punctuation,
  .token.operator {
    color: $gray-2;
  }

  // Light blue
  &.language-ruby .token.constant + .token.punctuation,
  &.language-ruby .token.constant + .token.punctuation + .token.symbol,
  .token.boolean,
  .token.builtin,
  .token.class-name,
  .token.constant,
  .token.namespace {
    color: $turquoise-3;
  }

  // Light red
  .token.number {
    color: $red-2;
  }

  // Red
  &.language-css .token.property,
  &.language-scss .token.property,
  &.language-bash .token.option,
  &.language-css .property,
  .token.parameter,
  .token.symbol {
    color: $red-3;
  }

  // Green
  &.language-bash .token.function,
  &.language-html .token.attr-value > .punctuation:not(:first-child),
  &.language-markup .token.attr-value > .punctuation:not(:first-child),
  .token.curl,
  .token.option,
  .token.variable,
  .token.macro .keyword,
  .token.attr-value,
  .token.macro,
  .token.string,
  .token.stripe,
  .token.value {
    color: $green-4;
  }

  // Bold
  .token.important {
    font-weight: 700;
  }
}

// Prism dark
.lowlight {
  color: $white-1;
  background: $black-5;

  [class*='language-'] {

    // Highlighted line
    .highlighted-line {
      background: rgba($white-1, .08);
    }

    // Purple
    &.language-php .token.operator,
    .token.atrule,
    .token.keyword {
      color: mix($blue-3, $violet-3);
    }

    // Blue
    &.language-markup .token.namespace,
    .token.attr-name,
    .token.selector,
    .token.tag,
    .token.tag *,
    .language-url,
    .token.function,
    .token.url,
    .token.title {
      color: $turquoise-3;
    }

    // Subtle blue
    .token.comment,
    .token.punctuation {
      color: rgba($blue-1, .75);
    }

    // Subtle yellow
    .token.operator {
      color: rgba($yellow-1, .75);
    }

    // Light blue
    &.language-ruby .token.constant + .token.punctuation,
    &.language-ruby .token.constant + .token.punctuation + .token.symbol,
    .token.boolean,
    .token.builtin,
    .token.class-name,
    .token.constant,
    .token.namespace {
      color: $turquoise-1;
    }

    // Light red
    .token.number {
      color: $red-1;
    }

    // Red
    &.language-css .token.property,
    &.language-bash .token.option,
    &.language-css .property,
    .token.parameter,
    .token.symbol {
      color: $red-2;
    }

    // Green
    &.language-bash .token.function,
    &.language-html .token.attr-value > .punctuation:not(:first-child),
    &.language-markup .token.attr-value > .punctuation:not(:first-child),
    .token.curl,
    .token.option,
    .token.variable,
    .token.macro .keyword,
    .token.attr-value,
    .token.macro,
    .token.string,
    .token.stripe,
    .token.value {
      color: $green-2;
    }

    // Bold
    .token.important {
      font-weight: 700;
    }
  }
}